USE [master]
GO
/****** Object:  Database [Employees]    Script Date: 1/29/2026 8:03:49 PM ******/
CREATE DATABASE [Employees]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Employees', FILENAME = N'C:\Users\asus\Employees.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB ),
( NAME = N'EmployeesLogs', FILENAME = N'C:\Users\asus\EmployeesLogs.ndf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Employees_log', FILENAME = N'C:\Users\asus\Employees_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Employees].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Employees]
GO
/****** Object:  Table [dbo].[emp]    Script Date: 1/29/2026 8:03:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[emp](
	[Full_Name] [nvarchar](50) NULL,
	[Address_City] [nvarchar](50) NULL,
	[Salary] [decimal](18, 0) NULL
) ON [PRIMARY]
GO
USE [master]
GO
